header{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;

}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    gap: 1rem;
}

footer{
    text-align: center;
    justify-content: space-between;
    
}